.input {
    background-color: #DDDDE4;
}

.output {
    background-color: #f0f8ff;
}

.error {
    background-color: #FFDAD6;
}

p {
    padding-bottom: 0px;
    padding-top: 0px;
    margin-block-start: 0em;
    margin-block-end: 0em;
    font: Courier, monospace;
    font-family: inherit;
}
