body {
    background-color: #F4F3F6;
}

iframe {
    width: 100%;
    height: 45%;
    border-style: none;

}

textarea {
    width: 100%;
    height: 45%;
    border-style: none;
}

textarea:focus {
    outline: none;
}


br {
    height: 1%;
}



input[type=button] {
    height: 5%;
    width: 12%;
    white-space: nowrap;
    background: #f3f0f1;
    position: relative;
    margin-bottom: 25px;
    border-radius: 32px;
    text-align: center;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
    border-color: lightslategrey;
    color: lightslategrey;
}


input[type=button]:hover {
    opacity: 0.3;
    box-shadow: -6px -6px 10px rgba(255, 255, 255, 0.8),
        6px 6px 10px rgba(0, 0, 0, 0.2);
    color: #8806CE;
}

input[type=button]:active {
    opacity: 1;
    box-shadow: inset -4px -4px 8px rgba(255, 255, 255, 0.5),
        inset 8px 8px 16px rgba(0, 0, 0, 0.1);
    color: #8806CE;
    outline: none;
    background: #FAE6FA;
}

input[type=button]:focus {
    outline: none;
}
